@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Inter', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
}

.screen{
    height: 100vh;
}
/* 
*
*  Navigation bar 
*
*/


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-nav, .right-nav{
    display: flex;
    align-items: center;
}

.center-nav, .input{
    display: flex;
    align-items: stretch;
    width: 100%;
}

.center-nav{
    width: 35%
}

.center-nav .input input{
    font-size: large;
    border: none;
    padding-left: 7px;
    background-color: #121212;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.input{
    border: 1px solid #484848;
    padding-left:20px;
    border-radius: 21.2px;
    background-color: #121212;
}

.search-button{
    width: 70px;
    border-top-right-radius: 21.2px;
    border-bottom-right-radius: 21.2px;
    cursor: pointer;
}

.center-nav .input input:focus{
    outline: none;
}
.center-nav .input button{
    border: none;
    background-color: #303030;
}

nav img{
    padding: 0px 5px;
}


/* 
*
*  page layout
*
*/

a { 
    color: inherit; 
    text-decoration: none;
} 

.bottom-screen{
    display: flex;
}

.sidenav{
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y:scroll;
    height: 90vh;
}
 ::-webkit-scrollbar{
    display: block;
    width: 5px;
 }

.home-options , .video-options, .subs, .more{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;
    border-bottom: 1px solid #303030;
} 

.menu-item, .sub-item{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px 8px 10px 24px;
    font-size: 14px;
    border-radius: 5px;
}

.menu-item:hover , .sub-item:hover{
    background-color: #303131;
    cursor: pointer;
}

.home-select{
    background-color: #303131;
}

.subs .title, .more .title{
    padding-left: 24px;
    font-size: 14px;
    font-weight: 700;
}
.title{
    padding-bottom:8px;
}
.subs img{
    border-radius: 100%;
}

.bottom-right{
    width: 80%;
}

.tag-menu{
    display: flex;
    overflow: hidden;
    gap:10px;
    padding: 10px 0px;
}

.tag-menu ::-webkit-scrollbar{
    display: none;
}

.all-tag, .item{
    border-radius: 10px;
    /* border: 1px solid white; */
    text-align: center;
    width: fit-content;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    background-color: #2b2b22;
}

.all-tag{
    color:black;
    background-color: white;
}

.item:hover{
    background-color: #474738;
    cursor: pointer;
}

/* 
*
*  Video-grid 
*
*/


.video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    overflow-y:scroll;
    height: 82vh;
    row-gap: 40px;
}

.video-box{
    display: flex;
    flex-direction: column;
    width: 370px;
    box-sizing: border-box;
}


.video-box img{
    object-fit: cover;
    padding: 0;
    box-sizing: border-box;
    border-radius: 25px;
}

.video-description{
    display: flex;
    flex-direction: row;
}

.video-description .avatar{
    padding: 6px 12px 12px 6px;
}

.video-description img{
    border-radius: 50%;
}

.video-box .text-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.video-title{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.video-info{
    padding-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #AAA;
}

.video-info .channel-name{
    margin: 0px;
}

.view-time{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.view-time *{
    margin: 0px;
}

/* 
*
*  Video-details page
*
*/


iframe{
    border: none;
}

.play-container{
    display: flex;
    justify-content: center;
    gap:35px;
}

.left{
    display:flex;
    flex-direction: column;
    width: 70vw;
}

.recommendations{
    display: flex;
    flex-direction: column;
    gap:15px;
    
}

.rec-video-box{
    width:100%;
    display: flex;
    flex-direction: row;
}

.rec-video-box img{
    border-radius: 10px;
}

.rec-video-description{
    display: flex;
    flex-direction: row;
}

.rec-video-description .avatar{
    padding: 12px 12px 12px 0px;
}

.rec-video-description img{
    border-radius: 50%;
}

.rec-video-box .rec-text-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rec-video-title{
    font-size: 12px;
    font-weight: 600;
}

.rec-video-info{
    font-size: 12px;
    font-weight: 400;
    color: #AAA;
}

.rec-video-info .rec-channel-name{
    margin: 0px;
}

.rec-view-time{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.rec-view-time *{
    margin: 0px;
}

/* 
*
*  Video-details styling
*
*/


.player-video-details{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #303030;
}

.player-video-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.bottom-line{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.bl-left img{
    border-radius: 50%;
}

.channel-name{
    font-size: 16px;
    font-weight: 600;
}

.channel-subs{
    font-size: 13px;
    font-weight: 400;
    color: #8c8c70;
}


.bl-left, .bl-right, .likes , .share, .save{
    display: flex;
    gap: 10px;
    align-items: center;
}

.likes span{
    padding-right:10px ;
    border-right: 1px solid grey;
}

.likes, .share, .save{
    background-color: #2b2b22;
    padding: 5px 10px;
    border-radius: 20px;
}

.dislike{
    transform: rotate(180deg);
}
.views-and-text {
    background-color: #3e3f3e;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.views-and-text p{
    height: 60px;
    overflow-y: hidden;
}

.numbers{
    display: flex;
    gap: 10px;
}

.left-line, .right-line{
    display: flex;
    gap:10px;
    align-items: center;
}


.channel-details{
    display: flex;
    gap:15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #303030;
}


.channel-details-upper{
    display: flex;
    justify-content: space-between;
}

.channel-details-upper .channel-name{
    font-size: 14px;
    font-weight: 400px;
}

.channel-details-upper .channel-subscribers{
    font-size: 12px;
    font-weight: 400px;
}

.subscribe-button{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    background-color: #C00;
    border-radius: 20px;
}

.channel-details-lower{
    font-size: 14px;
    font-weight: 300;
}

.comments-top{
    display: flex;
    align-items: center;
}

.sort{
    display: flex;
    gap:5px;
    padding-left: 30px;
}

.add-comment{
    display: flex;
    gap:10px;
}

.add-comment p{
    margin-bottom: 0;
    border-bottom:1px solid #303030;
    color: #AAA;
}